BusinessPartner/Contact-C4C_Contact.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://C4C_Contact" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"  name="C4C_Contact"  targetNamespace="http://C4C_Contact">
  <wsdl:types>
    <xsd:schema targetNamespace="http://C4C_Contact">
         <xsd:element name="Contact">
		  <xsd:complexType>
            <xsd:sequence>
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="AccountID" type="xsd:string"/>		
               <xsd:element minOccurs="0" name="Birthdate" type="xsd:string"/>
			   <xsd:element minOccurs="0" name="ContactID" type="xsd:string"/>
               <xsd:element minOccurs="0" name="Email" type="xsd:string"/>
               <xsd:element minOccurs="0" name="Fax" type="xsd:string"/>
			   <xsd:element minOccurs="0" name="Status" type="xsd:string"/>
               <xsd:element minOccurs="0" name="Mobile" type="xsd:string"/>
               <xsd:element minOccurs="0" name="Salutation" type="xsd:string"/>
               <xsd:element minOccurs="0" name="FirstName" type="xsd:string"/>
               <xsd:element minOccurs="0" name="LastName" type="xsd:string"/>
			   <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
			   <xsd:element minOccurs="0" name="DisplayName" type="xsd:string"/>
               <xsd:element minOccurs="0" name="MiddleName" type="xsd:string"/>
               <xsd:element minOccurs="0" name="WorkPhone" type="xsd:string"/>
               <xsd:element minOccurs="0" name="JobTitle" type="xsd:string"/>
               <xsd:element minOccurs="0" name="PrimaryRole" type="xsd:string"/>
            </xsd:sequence>
         </xsd:complexType>
		</xsd:element>
      <xsd:element name="WriteContactObjectInstanceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ContactInformationResponse" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
	  </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ContactCreate">
    <wsdl:part element="tns:Contact" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ContactInstancesResponse">
    <wsdl:part element="tns:WriteContactObjectInstanceResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="C4C_Contact">
    <wsdl:operation name="Contact_C4C">
      <wsdl:input message="tns:ContactCreate"/>
	  <wsdl:output message="tns:ContactInstancesResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_C4C_ContactBinding" type="tns:C4C_Contact">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Contact_C4C">
      <soap:operation soapAction="http://C4C_Contact/Contact_C4C"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
	  <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="C4C_Contact">
    <wsdl:port name="SI_C4C_ContactBinding" binding="tns:SI_C4C_ContactBinding">
      <soap:address location="https://mohawk.it-cpi013-rt.cfapps.us21.hana.ondemand.com/cxf/contact"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
